/*----------------------------------------------------------------
    Articles-nav
----------------------------------------------------------------*/
.articles {
    // .articles__nav
    &__nav {
        padding-bottom: 30px;
        overflow-x: auto;
    }
    // .articles__list
    &__list {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    // .articles__item
    &__item {
        flex-grow: 1;
    }
    // .articles__btn
    &__btn {
        position: relative;
        padding: 20px 25px;
        width: 100%;

        color: #000;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        outline: none;
        border: none;
        border-bottom: 1px solid #92929259;
        background-color: transparent;
        transition: background .1s;
        &:hover:not(.articles__btn--active),
        &.focus-visible:not(.articles__btn--active) {
            background-color: #fff;
        }
        &::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: -8px;
            width: 16px;
            height: 16px;
            margin-left: -8px;

            transform: rotate(45deg);
            background-color: transparent;
            transition: background .2s;
        }
        &--active {
            color: #fff;
            background-color: #b11217;
            &::after {
                background-color: #b11217;
            }
        }
    }
}
