/*----------------------------------------------------------------
    Articles
----------------------------------------------------------------*/
.articles {
    padding: 0 var(--m-padding) 50px;
    @media(min-width: 1536px) {
        padding-top: 50px;
        padding-bottom: 100px;
    }
    // .articles__nav
    &__nav {}
    // .articles__list
    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    // .articles__item
    &__item {}
    // .articles__btn
    &__btn {
        border: none;
        outline: none;
        background: transparent;
    }
    // .articles__inner
    &__inner {
        margin-bottom: 50px;
    }
    // .articles__more
    &__more {
    }
}
