/*----------------------------------------------------------------
    Big Article
----------------------------------------------------------------*/
.big-article {
    grid-area: big-article;

    border-bottom: 1px solid #dcdcdc;
    background-color: #000;
    // .big-article__photo
    &__photo {
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            background: rgb(255,255,255);
            background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.3) 100%);
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
        }
        &.focus-visible::after {
            outline: 2px solid red;
            outline-offset: -2px;
        }
    }
    // .big-article__content
    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        min-height: 480px;
        padding-top: 80px;
        @media(max-width: 575px) {
            min-height: 430px;
        }
    }
    // .big-article__about
    &__about {
        margin-bottom: 30px;
        padding: 0 var(--m-padding);
    }
    // .big-article__title
    &__title {
        margin-bottom: 10px;
        padding: 0 var(--m-padding);

        color: #fff;
        font-size: 44px;
        line-height: 1.1;
        font-family: "Hoefler-Text", serif;
        @media(max-width: 767px) {
            font-size: 35px;
        }
        @media(max-width: 420px) {
            font-size: 28px;
        }
    }
    // .big-article__watch-time
    &__watch-time {
       position: absolute;
       top: 0;
       left: 275px;

       color: #fff;
       transform: translateY(-40%);
       font-size: 14px;
    }
    // .big-article__desc
    &__desc {
        padding: 15px var(--m-padding);

        color: #fff;
        line-height: 1.8;
        border-top: 1px solid #92929259;
        border-bottom: 1px solid #92929259;
        .article-text {
            max-width: 420px;
        }
        @media(max-width: 767px) {
            font-size: 12px;
        }
    }
    // .big-article__footer
    &__footer {   
        position: relative; 
        z-index: 2; 
        display: flex;
        height: 60px;
    }
    // .big-article__col
    &__col {
        flex: 0 1 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        &:first-child {
        border-right: 1px solid #92929259;
        }
    }
    // .big-article__commnets
    &__commnets {
        color: #fff;
        font-size: 16px;
        @include hover($text: #fff, $line: underline);
    }
    // .big-article__quick
    &__quick {
        @include hover($text: #fff, $line: underline);
        @media(max-width: 420px) {
            font-size: 0;
            background-position: center;
        }
    }
    &--gallery {
        height: 100%;
        padding-right: 140px;
        border: none;
        .big-article__desc {
            border-bottom: none;
        }
        &:hover .title--video::after {
            background-color: #86070b;
            transform: scale(1.2);
        }
        .big-article__photo.focus-visible::before {
            background-color: rgba(#000, .3);
            border: 2px solid #86070b
        }
        @media(max-width: 767px) {
            padding-right: 120px;
        }
        @media(max-width: 575px) {
            padding-right: 0;
            padding-bottom: 100px;
            .big-article__desc {
                display: none;
            }
        }
    }
    &--art {
        box-shadow: 2px 2px 8px rgba(#000, .1);
        &:hover {
            box-shadow: 2px 2px 8px rgba(#000, .5);
        }
        transition: box-shadow .3s;
        .big-article__footer {
            height: auto;
            padding: 15px var(--m-padding);
    
            color: #fff;
            border-top: 1px solid #4e4d4d;
        }
        .big-article__title {
            font-size: 35px;
        }
    }
   
}




