/*----------------------------------------------------------------
    Columns
----------------------------------------------------------------*/
.columns {
    position: relative;
    height: 500px;
    overflow: hidden;
    @media (max-width: 1240px) {
        height: 480px;
    }
    @media(max-width: 1050px) {
        height: auto;
        padding: 0 15px 40px 15px;
    }
    // .columns__wrapper
    &__wrapper {
        position: relative;
        display: flex;
        width: 100%;
		height: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        box-sizing: content-box;
        flex-direction: column;
        @media(max-width: 1050px) {
            flex-direction: row;
        }
    }
    // .columns__slide
    &__slide {
        flex-shrink: 0;
        display: flex;
        padding: 50px 60px 50px 50px;
        @media (max-width: 1360px) {
            padding: 35px;
            padding-right: 50px;
        }
        @media(max-width: 1050px) {
            padding: 15px 0;
            display: block;
        }
    }
    // .columns__pagination
    &__pagination {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        .swiper-pagination-bullet {
            display: block;
            margin-bottom: 5px;
            margin-left: auto;
            height: 2px;
            width: 15px;
            background-color: #000;
            transition: width .3s
        }
        .swiper-pagination-bullet-active {
            width: 25px;
        }
        @media(max-width: 1050px) {
            top: initial;
            right: 50%;
            bottom: 12px;
            transform: translateX(50%);
            .swiper-pagination-bullet {
                display: inline-block;
                margin-right: 10px;
                margin-left: 0;
                height: 8px;
                width: 8px;
                background-color: #000;
                transition: bacground .3s, transform .3s;
                border-radius: 50%;
            }
            .swiper-pagination-bullet-active {
                background-color: #b11217;
                transform: scale(1.4);
            }
        }
    }
}

.swiper-container-autoheight {
    .swiper-wrapper {
        align-items: flex-start;
    }
}
