/*----------------------------------------------------------------
    Edition navigation
----------------------------------------------------------------*/
.edition {
    display: flex;
    flex-direction: column;
    align-items: center;
     // .edition__list
     &__list {
        display: flex;
		flex-direction: column;
        align-items: center;
		margin: 0;
		padding: 0;

		list-style: none;
    }
    // .edition__row
    &__row {
        text-align: center;
        margin-bottom: 1.8em;
        &--br {
            margin-bottom: 100px;
        }
        &:last-child {
            margin: 0;
        }
    }
    // .edition__link
    &__link {
        display: inline-block;
        color: #fff;
		font-size: 28px;
        @media(max-width: 767px) {
            font-size: 32px;
        }
        @media(max-width: 420px) {
            font-size: 24px;
        }
        &--sub {
            font-size: 22px;
            font-weight: 300;
            @media(max-width: 767px) {
                font-size: 18px;
            }
        }
        &:focus {
            outline: 2px solid #ffda4a;
            outline-offset: 2px;
        }
    }
    &--footer {
        flex-direction: row;
        padding: 0 30px;
        @media(max-width: 767px) {
            padding: 0 15px;
        }
        .edition__list {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            padding: 25px 0;
            @media(max-width: 1050px) {
               padding: 15px 0;
            }
        }
        .edition__row {
            margin: 0 60px 0 0;
            &:last-child {
                margin: 0;
            }
            @media(max-width: 1050px) {
                margin-right: 30px;
            }
        }
        .edition__link {
            font-size: 16px;
            font-weight: 500;
            line-height: 2.2;
            transition: color .3s;
            &:hover {
                color: darken(#fff, 25%);
            }
            &:focus {
                outline: 2px solid #fff;
                outline-offset: 2px;
            }
        }
    }
   
}
