/*----------------------------------------------------------------
    Edition navigation
----------------------------------------------------------------*/
.edition {
    display: flex;
    flex-direction: column;
    align-items: center;
    // .edition__list
    &__list {
        display: flex;
		flex-direction: column;
        align-items: center;
		margin: 0;
		padding: 30px 25px 30px 0;

		list-style: none;
    }
    // .edition__row
    &__row {
        margin-bottom: 2em;
    }
    // .edition__link
    &__link {
        color: #fff;
		font-size: 28px;
        @media(max-width: 767px) {
            font-size: 32px;
        }
        @media(max-width: 420px) {
            font-size: 24px;
        }
    }
    // .edition__sub-lk
    &__sub-lk {
        display: inline-block;
        margin-bottom: 1em;

        color: #fff;
		font-size: 22px;
        font-weight: 300;
        &:last-child {
            margin: 0;
        }
        @media(max-width: 767px) {
            font-size: 18px;
        }
    }
    &__sub-lk,
    &__link {
        &:focus {
            outline: 2px solid #ffda4a;
            outline-offset: 2px;
        }
    }
}
