/*----------------------------------------------------------------
   Main Header
----------------------------------------------------------------*/
.main-header {
	// .main-header__aside
	&__aside {}
	// .main-header__video
	&__video {}
	// .main-header__photo
	&__photo {}
	// .main-header__logo
	&__logo {}
	// .main-header__middle
	&__middle {}
	// .main-header__row
	&__row {}
	// .main-header__exchange
	&__exchange {}
	// .main-header__social
	&__social {}
	// .main-header__counselor
	&__counselor {}
	// .main-header__col
	&__col {}
	// .main-header__date
	&__date {}
	// .main-header__weather
	&__weather {}
	// .main-header__thermometer
	&__thermometer {}
	// .main-header__article
	&__article {}
	// .main-header__author
	&__author {}
	// .main-header__text
	&__text {}
	// .main-header__time
	&__time {
		// .main-header__time--hidden
		&--hidden {}
	}
	// .main-header__cl
	&__cl {}
	// .main-header__nav
	&__nav {}
}
.video-icon {
}
.photo-icon {
}
.logo {
	// .logo--main
	&--main {}
}
.seach {
	// .seach__icon
	&__icon {}
}
.burger {
}
.container {
}
.dollar {
}
.euro {
}
.social {
	// .social__item
	&__item {}
	// .social__link
	&__link {}
	// .social__icon
	&__icon {}
}
.main-nav {
	// .main-nav__list
	&__list {}
	// .main-nav__row
	&__row {}
	// .main-nav__link
	&__link {}
}


/*----------------------------------------------------------------
    Burger
----------------------------------------------------------------*/
.burger {
	position: relative;

	display: none;
	width: 25px;
	height: 16px;

	font-size: 0;
	color: transparent;
	cursor: pointer;
	transition: all .3s ease;
	background-color: transparent;
	&::before,
	&:after {
		content: '';
		position: absolute;
		left: 0;

		width: 100%;
		height: 1px;

		background-color: #fff;
		transition: all .3s ease;
	}
	&::before {
		top: -1px;
	}
	&::after {
		bottom: 0;
	}
	span {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		height: 1px;
		margin-top: -1px;

		background-color: #fff;
	}
}

.burger.active {
	span {
		transform: scale(0);
    }
    &::before,
	&:after {
        width: 70%;
    }
	&::before {
		transform: rotate(45deg);
		top: 7px
	}
	&::after {
		transform: rotate(-45deg);
		bottom: 8px;
	}
}
