/*----------------------------------------------------------------
   Main Header
----------------------------------------------------------------*/
.main-header {
	background-color: #e9e9e9;
	// .main-header__aside
	&__aside {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 999;

		display: flex;
		flex-direction: column;
		align-items: center;
		width: 80px;
		height: 1050px;
		max-height: 100vh;
		padding: 30px 0;

		background-color: #b11217;
	}
	// .main-header__video
	&__video {
		margin-bottom: 20px;
	}
	// .main-header__photo
	&__photo {
		margin-bottom: 20px;
	}
	// .main-header__logo
	&__logo {}
	// .main-header__middle
	&__middle {
		margin: 0 270px 0 80px;
		padding: 0 30px;
	}
	// .main-header__row
	&__row {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 30px 0;
		&--top {
			justify-content: space-between;
			min-height: 80px;
			padding: 10px 0;
		}
		&--bottom {
			min-height: 280px;
		}
	}
	// .main-header__exchange
	&__exchange {
		margin: 0;
	}
	// .main-header__euro
	&__euro {}
	// .main-header__dollar
	&__dollar {}
	// .main-header__social
	&__social {}
	// .main-header__counselor
	&__counselor {}
	// .main-header__col
	&__col {
		&:nth-child(2) {
			padding: 0 130px;
		}
	}
	// .main-header__date
	&__date {}
	// .main-header__weather
	&__weather {}
	// .main-header__thermometer
	&__thermometer {}
	// .main-header__article
	&__article {}
	// .main-header__author
	&__author {}
	// .main-header__text
	&__text {}
	// .main-header__time
	&__time {
		// .main-header__time--hidden
		&--hidden {}
	}
	// .main-header__cl
	&__cl {}
	// .main-header__nav
	&__nav {}
}

.video-icon {
	fill: #fff;
}

.photo-icon {
	fill: #fff;

}



/*----------------------------------------------------------------
	Logo
----------------------------------------------------------------*/
.logo {
	display: none;
	// .logo--main
	&--main {
	}
}



/*----------------------------------------------------------------
	Seach
----------------------------------------------------------------*/
.search {
	display: inline-block;
	margin-top: auto;

	border: none;
	background-color: transparent;
	cursor: pointer;
	// .seach__icon
	&__icon {
		width: 18px;
		height: 18px;
		fill: #f4dedf;
	}
}


/*----------------------------------------------------------------
    Burger
----------------------------------------------------------------*/
.burger {
	position: relative;

	display: none;
	width: 25px;
	height: 16px;

	font-size: 0;
	color: transparent;
	cursor: pointer;
	transition: all .3s ease;
	background-color: transparent;
	&::before,
	&:after {
		content: '';
		position: absolute;
		left: 0;

		width: 100%;
		height: 1px;

		background-color: #fff;
		transition: all .3s ease;
	}
	&::before {
		top: -1px;
	}
	&::after {
		bottom: 0;
	}
	span {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		height: 1px;
		margin-top: -1px;

		background-color: #fff;
	}
}

.burger.active {
	span {
		transform: scale(0);
    }
    &::before,
	&:after {
        width: 70%;
    }
	&::before {
		transform: rotate(45deg);
		top: 7px
	}
	&::after {
		transform: rotate(-45deg);
		bottom: 8px;
	}
}
