/*----------------------------------------------------------------
    Logo
----------------------------------------------------------------*/
.logo {
	display: none;

	color: #fff;
	font-family: Hoefler, serif;
	font-weight: 400;
	font-size: 45px;
	letter-spacing: 1px;
	text-transform: lowercase;
	// .logo--main
	&--main {
		display: inline-block;;
		margin-bottom: 20px;

		color: #000;
		font-size: 70px;
		&:focus {
			outline: 2px solid rgb(216, 25, 18);
			outline-offset: 2px;
		}
		@media(max-width: 1240px) {
			display: none;
		}
	}
	&--footer {
		display: inline-block;
		transition: color .3s;
		&:hover {
			color: darken(#fff, 25%);
		}
		&:focus {
			outline: 2px solid #fff;
			outline-offset: 2px;
		}
	}
}