/*----------------------------------------------------------------
    Main/burger navigation
----------------------------------------------------------------*/
.main-nav {
    background: #b11217;
    // .main-nav__menu
    &__menu {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1px 0 0; 
        padding: 0;

        list-style: none;
        border-bottom: 1px solid #c2464a;
    }
    // .main-nav__col
    &__col {
        flex: 1 1 25%;
    }
    // .main-nav__btn
    &__btn {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        padding: 20px 15px;

        color: #fff;
        text-align: center;
        font-size: 18px;

        border: none;
        background: transparent;
       
        border-top: 1px solid #c2464a;
        border-right: 1px solid #c2464a;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 4px;

            background-color: transparent;
            transition: background .3s;
        }
        &--active::after {
            background-color: #fff;
        }
    }
    // .main-nav__inner
    &__inner {}
    // .main-nav__footer
    &__footer {}
    // .main-nav__search
    &__search {}
    // .main-nav__social
    &__social {}
}
.search {
    // .search__input
    &__input {}
    // .search__btn
    &__btn {}
    // .search__icon
    &__icon {}
}

