/*----------------------------------------------------------------
    Main/burger navigation
----------------------------------------------------------------*/
.main-nav {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
   
    background: #b11217;
    opacity: 0;
    transition: opacity .3s;
    &.active {
        top: 80px;
        opacity: 1;
        @media(max-width: 767px) {
            top: 60px;
        }
    }
    // .main-nav__menu
    &__menu {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1px 0 0; 
        padding: 0;

        list-style: none;
        border-bottom: 1px solid #c2464a;
    }
    // .main-nav__col
    &__col {
        flex: 1 1 25%;
    }
    // .main-nav__btn
    &__btn {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        padding: 20px 15px;

        color: #fff;
        text-align: center;
        font-size: 28px;

        border: none;
        background: transparent;
       
        border-top: 1px solid #c2464a;
        border-right: 1px solid #c2464a;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 4px;

            background-color: transparent;
            transition: background .3s;
        }
        &--active::after {
            background-color: #fff;
        }
    }
    // .main-nav__inner
    &__inner {
        display: flex;
        flex-direction: column;
        max-height: calc(100vh - 122px);
        overflow-y: auto;
        padding: 70px 80px 35px;
        @media(max-width: 767px) {
            padding: 50px 30px 35px;
        }
    }
    // .main-nav__item
    &__item {
        margin-bottom: 50px;
    }
    // .main-nav__footer
    &__footer {
        margin-top: auto;
    }
    // .main-nav__search
    &__search {
        margin-bottom: 45px;
    }
    // .main-nav__social
    &__social {
        
    }
}


