/*----------------------------------------------------------------
    Middle
----------------------------------------------------------------*/
.middle {
    display: flex;  
    
    background-color: #fff;
    // .middle__column
    &__column {
        flex: 0 1 50%;
        &:first-child {
            flex: 0 1 80%;
        }
    }
}
