/*----------------------------------------------------------------
    Middle
----------------------------------------------------------------*/
.middle {
    display: flex;  
    
    background-color: #fff;
    // .middle__column
    &__column {
        flex: 0 1 80%;
        &:last-child {
            flex: 0 1 40%;
            @media(max-width: 1050px) {
                display: none;
            }
        }
        @media(max-width: 1050px) {
            flex: 1 1 auto;
        }
    }
}
