/*----------------------------------------------------------------
    publications
----------------------------------------------------------------*/
.publications {
    padding-bottom: 50px;
    @media(min-width: 1536px) {
        padding-top: 50px;
        padding-bottom: 100px;
    }
    // .publications__btn
    &__btn {
        border: none;
        outline: none;
        background: transparent;
    }
    // .publications__container
    &__container {
        padding: 0 var(--m-padding);
    }
    // .publications__inner
    &__inner {
        margin-bottom: 50px;
    }
    // .publications__more
    &__more {
        min-width: 200px;
    }
}

.selected {
    display: block;
    transition: top .5s, left .5s, box-shadow .3s;
}

.disabled {
    display: none;
}