/*----------------------------------------------------------------
    Root
----------------------------------------------------------------*/
:root {
    --m-padding: 30px;
    @media(max-width: 1020px) {
        --m-padding: 15px;
    }
    --l-padding: 50px;
    @media(max-width: 1020px) {
        --l-padding: 25px;
    }
}

