.rubrics {
	// .rubrics__list
	&__list {
		display: flex;
		flex-direction: column;
		margin: 0;
		padding: 30px 25px;

		list-style: none;
	}
	// .rubrics__row
	&__row {
		margin-bottom: 40px;
		&:last-child {
			margin: 0;
		}
	}
	// .rubrics__link
	&__link {
		color: #000;
		font-size: 16px;
		font-weight: 500;
		&:hover {
			text-decoration: underline;
		}
		&:focus {
			outline: 2px solid rgb(216, 25, 18);
			outline-offset: 2px;
		}
	}

	&--nav {
		// .rubrics__list
		.rubrics__list {
			align-items: center;
			padding: 0;
		}
		// .rubrics__row
		.rubrics__row {
			margin-bottom: 1.8em;
			&:last-child {
				margin: 0;
			}
		}
		// .rubrics__link
		.rubrics__link {
			color: #fff;
			font-size: 28px;
			font-weight: 400;
			&:focus {
				outline: 2px solid #ffda4a;
				outline-offset: 2px;
			}
			@media(max-width: 767px) {
				font-size: 32px;
			}
			@media(max-width: 420px) {
				font-size: 24px;
			}
		}
	
	}
}

