.rubrics {
	// .rubrics__list
	&__list {
		display: flex;
		flex-direction: column;
		margin: 0;
		padding: 30px 25px;

		list-style: none;
	}
	// .rubrics__row
	&__row {
		margin-bottom: 40px;
		&:last-child {
			margin: 0;
		}
	}
	// .rubrics__link
	&__link {
		color: #000;
		font-size: 16px;
		font-weight: 500;
		&:hover {
			text-decoration: underline;
		}
		&:focus {
			outline: 2px solid rgb(216, 25, 18);
			outline-offset: 2px;
		}
	}

	&--nav {
		// .rubrics__list
		.rubrics__list {
			align-items: center;
		}
		// .rubrics__row
		.rubrics__row {
		}
		// .rubrics__link
		.rubrics__link {
			color: #fff;
			font-size: 38px;
		}
	
	}
}

