/*----------------------------------------------------------------
    Top News
----------------------------------------------------------------*/
.top-news {
    grid-area: top-news;
    padding: 0 var(--m-padding) 25px;

    outline: 1px solid #dcdcdc;
    outline-offset: -1px;
    @media(max-width: 1050px) {
        outline: none;
    }
    @media(max-width: 1240px) {
        display: none;
    }
    // .top-news__list
    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        &--wrapp {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            box-sizing: content-box;
        }
    }
    // .top-news__row
    &__row {
        margin-bottom: 20px;
        &:last-child {
                margin: 0;
            }
        &--head {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            height: 250px;
            margin: 0 -30px 25px;
            padding-bottom: var(--m-padding);

            text-align: center;
        }
        &--slide { 
            flex-shrink: 0; 
            text-align: center;
            .top-news__lk {
                margin: 0;
                color: #fff;
                font-size: 16px;
                font-weight: 400;
                &:hover {
                    color: #fff;
                }
            }
        }
    }
    // .top-news__title
    &__title {
        width: calc(100% - 60px);
        margin: 0 0 20px;
        z-index: 1;
        color: #fff;

        font-size: 18px;
        font-weight: 500;
        pointer-events: none;
    }
    // .top-news__photo 
    &__photo {
        display: block;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            background: rgb(255,255,255);
            background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 100%);
        }
    }
    // .top-news__lk
    &__lk {
        display: inline-block;

        color: #000;
        font-weight: 500;
        line-height: 1.3;
        @include hover;
        &--head {
            width: calc(100% - 60px);
            z-index: 1;
            color: #fff;
            &:hover {
                color: #fff;
                text-decoration: underline;
            }
        }
    }
    &--slider { 
        display: none;
        overflow: hidden;
        border: none;
        padding: 0;
        @media(max-width: 1050px) {
            display: block;
        }
        .top-news__lk {
            padding: 0 15px;
            @media(max-width: 420px) {
                font-size: 14px;
            }
        }
    }
    // .top-news__pagination
    &__pagination {
        position: absolute;
        bottom: 12px;
        left: 50%;
        width: 100%;

        transform: translate(-50%, 0);
        text-align: center;
        .swiper-pagination-bullet {
            display: inline-block;
            margin-right: 5px;
            width: 27px;
            height: 3px;
            background-color: rgba(#fff, .5);
            opacity: .5;
            &:last-child {
                margin: 0;
            }
        }
        .swiper-pagination-bullet-active {
            background-color: #fff;
            opacity: .8;
        }
    }
}
