/*----------------------------------------------------------------
    Topics
----------------------------------------------------------------*/
.topics {
    display: flex;
    @media(max-width: 1050px) {
        padding-top: 220px;
    }
    &__aside {
        flex: 0 0 25%;

        overflow: hidden;
        outline: 1px solid #dcdcdc;
        @media(max-width: 1240px) {
           flex: 0 0 35%;
        }
        @media(max-width: 767px) {
           flex: 0 1 auto;
           border: none;
        }
    }
    // .topics__col
    &__col {
        display: grid;
        grid-template-areas: "big-article big-article top-news";
        @media(max-width: 1240px) {
            grid-template-areas: "big-article big-article";
        }
        @media(max-width: 575px) {
           display: block;
           align-self: flex-start;
        }
    }
}