/*----------------------------------------------------------------
    Post
----------------------------------------------------------------*/
.post {
    background-color: #fff;
    // .post__photo
    &__photo {
        position: relative;
        margin-bottom: var(--l-padding);
    }
    // .post__container
    &__container {
        padding: 0 var(--l-padding)  var(--l-padding);
    }
    // .post__img
    &__img {
        display: block;
        width: 100%;
        height: auto;
    }
    // .post__writer
    &__writer {
        position: absolute;
        left: var(--m-padding);
        bottom: var(--m-padding);

        color: #fff;
    }
    // .post__header
    &__header {
        margin-bottom: var(--l-padding);
    }
    // .post__title
    &__title {
        margin: 0 0 10px 0;

        font-family: "Hoefler-text", serif;
        font-size: 44px;
        line-height: 1.2;
        color: #000;
        font-weight: 400;
        @media(max-width: 767px) {
            font-size: 35px;
        }
        @media(max-width: 420px) {
            font-size: 32px;
        }
    }
    // .post__about
    &__about {
        margin-bottom: var(--l-padding);
    }
    // .post__desc
    &__desc {
        margin: 0 0 20px;
        font-size: 22px;
        line-height: 1.5;
        @media(max-width: 767) {
            font-size: 18px;
        }
        @media(max-width: 420px) {
            font-size: 16px;
        }
    }
    // .post__text
    &__text {
        position: relative;
        max-width: 710px;
        margin: 0 auto 20px;

        font-size: 16px;
        line-height: 2em;
        &:last-of-type {
            margin-bottom: 0;
        }
        &::after {
            content: '';
            display: block;
            width: 100%;
            clear: both;
        }
        &--include {
            max-width: initial;
            padding: var(--m-padding) 0;
            font-size: 14px;
        }
        @media(max-width: 420px) {
            font-size: 14px;
        }
    }
    // .post__share
    &__share {}
    // .post__lk
    &__lk {
        display: block;
        margin-bottom: 20px;
        @media(min-width: 575px) {
            float: left;
            width: clamp(250px, 30%, 500px);
            margin: 10px 35px 10px 0;
        }
    }
    // .post__button
    &__button {
        margin-top: 80px;
        @media(max-width: 420px) {
            margin-top: 50px;
        }
    }
}





