@mixin font($fontName, $fileName, $weight, $style) {
    @font-face {
        font-family: $fontName;
        src:  url('../fonts/#{$fileName}.woff2') format('woff2'),
             url('../fonts/#{$fileName}.woff') format('woff');
        font-weight: #{$weight};
        font-style: #{$style};
        font-display: swap;
    }
}

@mixin hover($text: rgb(185, 9, 3), $outline: rgb(216, 25, 18)) {
    transition: color .3s;
    &:hover {
        color: $text;
    }
    &:focus {
        outline: 2px solid $outline;
        outline-offset: 2px;
    }
}

